{:defaults {:klipse/selector ".klipse"
            :klipse/explicit-load false
	    :klipse/cached-macro-ns-regexp false
            :klipse/cached-ns-regexp false
            :klipse/external-libs ""
            :klipse/cached-ns-root nil}
 :transforms
 [[:#content]
  [:prepend [:p {:id "klipse-loader-wrapper"} "Click " [:a {:id "klipse-loader" :href "javascript:void(0)"} here] " to make these examples interactive with ClojureScript."]]
  [:body]
  [:prepend
   [:link
    {:rel "stylesheet"
     :type "text/css"
     :href "https://storage.googleapis.com/app.klipse.tech/css/codemirror.css"}]
   [:div {:style "visibility: hidden;"}
    [:div {:class "klipse"
           :data-external-libs :klipse/external-libs}
     :klipse/require-statement]]]
  [:body]
  [:append
   [:script
    ("window.klipse_settings = {
    selector: " "'.klipse," :klipse/selector "',
    codemirror_options_in: {
    lineWrapping: true,
    autoCloseBrackets: true
    },
    codemirror_options_out: {
    lineWrapping: true
    },
    };\n
    "  
    "if (" :klipse/cached-macro-ns-regexp ") { window.klipse_settings.clojure_cached_macro_ns_regexp =  " :klipse/cached-macro-ns-regexp";}\n"
    "if (" :klipse/cached-ns-regexp ") { window.klipse_settings.clojure_cached_ns_regexp =  " :klipse/cached-ns-regexp";}\n"
     "if ('" :klipse/cached-ns-root "') { window.klipse_settings.cached_ns_root =  '" :klipse/cached-ns-root "';}\n"
     )]
   [:script
    ("
    function klipseLocalStorageEnabled() {
        var mod = 'modernizr';
        try {
          localStorage.setItem(mod, mod);
          localStorage.removeItem(mod);
          return true;
        } catch (e) {
          return false;
        }
     }
     function klipseLoad() {
      if (klipseLocalStorageEnabled()) { sessionStorage.setItem('klipse', true);}
      $('#klipse-loader-wrapper').remove();
      var s = document.createElement('script');
      s.setAttribute('src','https://storage.googleapis.com/app.klipse.tech/plugin/js/klipse_plugin.js');
      document.head.appendChild(s);
      }
    if(!" :klipse/explicit-load ") {
      klipseLoad();
    } else {
      if((klipseLocalStorageEnabled() && sessionStorage.getItem('klipse')) || window.location.search.match(/klipse=1/)) {
        klipseLoad();
      } else {
        $('#klipse-loader').click(function(){
        klipseLoad();
       });
      }
    }
    ")
    ]]]}
